<div class="jumbotron">
    <div class="container">
        <h1>About Us</h1>
        <p>This is an ideas app. This app can be used to store a list of ideas for creating a youtube or any educational video.</p>
    </div>
</div>