<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Ideas App!</h1>
        <p style="margin-bottom: 0px;">Feel free to use this app to note your ideas regarding educational video or anything!</p>
        <p style="margin-bottom: 0px;">You can start creating ideas by register over <a href="/users/register">here</a> or using the register link
            in the header</p>
        <p style="margin-bottom: 0px;">If you have already registered then you can login <a href="/users/login">here</a> or using the login link in
            the header</p>
    </div>
</div>