<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Ideas App!</h1>
        <p>Feel free to use this app and create your ideas. Rest assured that your data will be private and secured and will not be
        shared with anyone ;-)</p>
    </div>
</div>